<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
</head>
<body>
    <p>Текст тестового приложения про базы данных</p>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Send</button>
    </form>
    <table>
        <tr>
            <th><strong>Name</strong></th>
            <th><strong>Count</strong></th>
        </tr>
    {% for data in data_list %}
        <tr>
            <td>{{ data.name }}</td>
            <td>{{ data.count }}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>