# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore the virtual environment
venv/

# Ignore the database file
db.sqlite3
db2.sqlite3

# Ignore the log file
log.txt

# Ignore static users files
catalog/static/images/gallery/*
catalog/static/images/articles/*
catalog/static/images/profiles/*