{% extends "base_generic.html" %}
 
{% block content %}
  <main>
    <form action="" method="POST">
      {% csrf_token %}
      <p>Текущий пароль:</p>
      <p><input type="password" name="old_password" required="" id="id_old_password"></p>
      <p>{{ form.errors.old_password }}</p>
      <p>Новый пароль:</p>
      <p><input type="password" name="password1" required="" id="id_password1"></p>
      <p>{{ form.errors.password1 }}</p>
      <p>Подтверждение пароля:</p>
      <p><input type="password" name="password2" required="" id="id_password2"></p>
      <button type="submit">Обновить пароль</button>
  </form>
  </main>
{% endblock %}