{% extends "base_generic_without_rightbar.html" %}

{% block title %}<title>My first site</title>{% endblock %}

{% block content %}
<main>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.text }}
        <button type="submit">Отправить</button>
    </form>
    {% for text in text_all %}
        <p>Текст: {{ text.id }} <a href="{% url 'test_view' text.id %}">{{ text.text }}</a></p>
        <p>Лайки: 
            {% for user in users_likes %}
                {{ user.username }}
            {% endfor %}
        </p>
        <br>
        <br>
        <br>
    {% endfor %}
    <p>Самостоятельный объект TEST</p>
    <p>{{ test_object.text }}</p>
    <p>
    {% for user in users_likes %}
        {{ user.username }}
    {% endfor %}
    {{ number_of_likes }}
    </p>
    {% if user_liked %}
        <p>Юезер уже лайкнул пост</p>
    {% else %}
        <p>Юзер еще не лайкнул пост</p>
    {% endif %}
</main>
{% endblock %}