{% extends "base_generic.html" %}
{% block content%}
    <main>
        <div>
        <form action="" method="POST"> 
            {% csrf_token %}
            
            {% for field in form %}
                <div>
                    <p>{{ field.label }}: <br> {{ field }}</p> 

                    {% for error in field.errors %}
                        <small style="color: red">{{ error }}</small>
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit">Отправить</button>
        </form>
        </div>
    </main>
{% endblock %}
    
{% block rightBar %}<p>Dynamic content</p>{% endblock %}