{% extends "base_generic.html" %}

{% block content%}
    <main>
        <form action="" method="POST">
            {% csrf_token %}

            {% for field in form %}
                <div>
                    <p>{{ field.label }}: <br> {{ field }}</p> 

                    {% for error in field.errors %}
                        <small style="color: red">{{ error }}</small>
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit">Create</button>
        </form>
    </main>
{% endblock %}
{% block rightBar %}<p>Dynamic content</p>{% endblock %}